body {
  background-color: #03071e;
}

h1,
p,
a {
  color: #ffba08;
}

h1.center,
p.center,
a.center {
  text-align: center;
}

input {
  border-color: #d00000;
  background-color: #ffba08;
  color: #d00000;
  padding: 3px;
}

.error {
  color: red;
}

.error.center {
  text-align: center;
}
